<div class="container">
	<div class="row">
		<div class="article offset3">
			<div class="detail span10">
				<div class="detail_inner">
					<h2>
						<%= content.title %><br/>
						<small>autor: <%= content.author %> - publicado: <%= content.publishedDate %></small>
					</h2>
					<div class="detail_content">
						<%= content.content %>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			<div>
			<div class="tools">
				<span class="twitter">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= content.link %>" data-via="qiosko" data-lang="es" data-related="highercomve" data-hashtags="qiosko" data-count="vertical" data-text="<%= content.title %>">Twittear</a>
				</span>
				<span class="googlemasuno">
					<g:plusone size="tall" href="<%= content.link %>"></g:plusone>
				</span>
				<span class="facebook">
					<div class="fb-like" data-href="<%= content.link %>" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false"></div>
				</span>

			</div>
		</div>
	</div>
</div>