<% for(var y=0,len1=result.length; y<len1; y++) {%>
	<div class="canal" id="canal_<%= y %>">	
		<h2 class="canal_title"><%= link_to(result[y].content.feed.title, result[y].content.feed.link) %></h2>
		<div id="canales_<%= y %>">
			<div id="carousel_<%= y %>" class="es-carousel-wrapper">
				<div class="es-carousel">
				<ul>
					<% for(var i=0,len=result[y].content.feed.entries.length; i<len; i++) {%>

						<li>
							<div class="entries" id="entrie_<%= i %>">
								<div class="thumbnail"><%= thumbnail(result[y].content.feed.entries[i].content) %></div>
								<h3>
									<%= link_to(result[y].content.feed.entries[i].title,'#detail/'+category+'/'+y+'/'+i) %><br/>
									<small><%= result[y].content.feed.entries[i].author %></small>
								</h3>
								<p>
									<%= result[y].content.feed.entries[i].contentSnippet %>
								</p>
							</div>
						</li>
					<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>

<% } %>